[project]
name = "rt-ctae-eval"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
             "ruff",
             "ty",
             "lseval@git+https://github.com/HealthNLPorg/lseval.git"
]
